@model SpawnAreaWebCore.Models.MediaFile
@{
    ViewData["Title"] = "Index";
}

<h2>Media</h2>

<p>This is a demo tool to make an offline copy of online media using a source url.</p>

<form asp-controller="Media" asp-action="LoadPlayer" method="post">
    @*<div class="form-group">
        <label for="VideoId">YouTube Video ID (optional):</label>
        <input class="form-control" asp-for="VideoId" name="VideoId" />
        <label for="SourceUrl">Source Url:</label>
        <input class="form-control" asp-for="SourceUrl" name="SourceUrl" />
    </div>*@
    <button class="btn btn-success">Demo Player</button>
</form>
