
@{
    ViewData["Title"] = "Media";
}

<h2>Media</h2>

<p>
    Show the demo of a HTML5 3th party media player.
</p>

<form asp-controller="Media" asp-action="LoadPlayer" method="post">

    <button class="btn btn-success">Load player demo</button>
</form>
