
@{
    ViewData["Title"] = "MediaPlayer";
}
@section HTMLBodyScripts{
    <script src="//content.jwplatform.com/players/b6p45gB5-ggODoIpa.js"></script>
}
<h2>Media Player</h2>
<p>
    This is a demo of the HTML5 media player <a title="JwPlayer website" href="http://wwww.jwplayer/com" target="_blank">JwPlayer</a>
</p>

